body, html {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	min-height: 578px;
	min-width: 418px;
	user-select: none;
}

body {
	background: url(https://picsum.photos/1280/720/?random);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

* {
	font-family: 'Titillium Web';
}

*:focus {
	outline:0;
}

#shadow {
	background: #0009;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#content {
	width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
}

#logo {
    margin: -10% 0 2% 0;
    border-radius: 5%;
}

#logo h1, h4 {
	margin: 5px;
	color: #fff;
	font-weight: normal;
}

#input {
    width: 50%;
    height: auto;
    border: solid 3px #0006;
    border-radius: 50px;
    padding: 15px;
	background: #ffffffa9;
    margin: 0 1% 2% 0;
	transition: all 0.3s;
	font-size: 11pt;
}

#input:focus {
	background: #fff;
}

#input::placeholder {
	font-style: italic;
	color: #0009
}

#generate {
    border: solid 3px #0006;
    border-radius: 50px;
    padding: 15px;
	background: #ffffffa9;
	cursor: pointer;
	transition: all 0.3s;
	font-size: 11pt;
}

#generate:hover {
	background: #fff;
}

#kzLogo {
	margin-top: 5%;
}