html {
	height: 100%;
	width: 100%;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	min-height: 685px;
	min-width: 418px;
	user-select: none;
	background: url(https://picsum.photos/1280/720/?random);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
	position: relative;
	transition: all 0.3s;
}

body > * {
    flex: 1 0 auto;
    text-align: center;
	transition: all 0.3s;
}

* {
	font-family: 'Titillium Web';
}

*:focus {
	outline:0;
}

#shadow {
	background: #0009;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#content {
	width: 100%;
	height: 70vh;
    /* position: absolute;
    top: 40%; */
    text-align: center;
}

ins {
    align-self: flex-start;
    margin: 2%;
}

#logo > img {
	border-radius: 6px;
}

#logo h1, h4 {
	/* margin: 5px; */
	color: #fff;
	font-weight: normal;
}

#logo h1 {
    font-size: 40pt;
    margin: 0;
}

#logo h4 {
    margin-top: -15px;
    margin-bottom: 3%;
	font-style: italic;
	opacity: 0.6;
}

#input {
    width: 50%;
    height: auto;
    border: solid 3px #0006;
    border-radius: 50px;
    padding: 15px;
	background: #ffffffa9;
    margin: 0 1% 2% 0;
	transition: all 0.3s;
	font-size: 11pt;
}

#input:focus {
	background: #fff;
}

#input::placeholder {
	font-style: italic;
	color: #0009
}

#generate {
    border: solid 3px #0006;
    border-radius: 50px;
    padding: 15px;
	background: #ffffffa9;
	cursor: pointer;
	transition: all 0.3s;
	font-size: 11pt;
}

#generate:hover {
	background: #fff;
}

footer {
	height: 20%;
	width: 100%;
    display: flex;
    flex: 1 0 21%;
    align-items: flex-end;
}

footer > * {
    flex: 1 0 auto;
    text-align: center;
	margin: 1%;
}

#info {
    color: #fff;
    text-decoration: none;
    /* position: absolute;
    left: 2%;
    bottom: 5%; */
	padding: 1% 2%;
    font-style: italic;
	opacity: 0.2;
	border-radius: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
	transition: all 0.3s;
}

#info:hover {
	background: #fff3;
	opacity: 1;
	transition: all 0.3s;
}

#info a {
	color: aquamarine;
}

#kzlogo {
	/*position: absolute;
	left: 50%;
	bottom: 5%;
    transform: translateX(-50%); */
	color: #ffffff4a;
	padding: 1%;
	transition: all 0.3s;
	height: 50%;
}

#source {
	text-decoration: none;
	color: #fff;
	padding: 1% 2%;
	border-radius: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
	opacity: 0.2;
	transition: all 0.3s;
}

#source:hover {
	opacity: 1;
	background: #fff3;
	transition: all 0.3s;
}